
article, header, footer, nav {
    display: block;
}

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol,  /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body, button, input, select, textarea { /* for ie */
    /* font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif; */
    font: 16px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}


/* 重置列表元素 */
ul,li,ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover {text-decoration: none; color: #06C;}
a:active{color: #900;}

/* 重置表单元素 */
form {margin: 0;}
legend { color: #000; } /* for ie6 */
fieldset { border: none; } /* img 搭车：让链接里的 img 无边框 */
img {border: none; vertical-align: middle;}

/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

/* 防止avalon未加载dom显示*/
.ms-controller,.ms-important,[ms-controller],[ms-important]{
    visibility: hidden;
}
html,body{
    font-family: "黑体", monospace;
}
a,input,label,textarea,button{
    font-family: "黑体", monospace;
}
