@import "reset.css";

div#likyh_container {
    min-width: 768px;
    min-height: 100%;
    font-family: "微软雅黑", "华文细黑", "幼圆", serif;
    background-color: #25292e;
}
header {
    position: relative;
    width: 100%;
    height: 51px;
    padding: 0 28px;
    box-sizing:border-box;
    color: #FFF;
    background-image: url(images/logoBar.jpg);
    background-color: #000;
    background-size: 100% auto;
}
div#main {
    display: flex;
    align-items: stretch;
    min-height: 100%;
    padding: 18px 28px;

}
nav {
    flex: 0 300px;
}
div#likyh_content {
    flex: 1 515px;
    padding: 1%;
    min-height: 560px;
    background:#e0e5eb;
}
div.content_inner{
    border-radius: 5px 5px 0px 0px;
    background-color: #f9fcff;
    overflow: hidden;
    min-height: 560px;
}
footer {
    display: none;
}
div#siteMap {
    display: block;
    height: 45px;
    text-align: center;
    background-color: #BBBBBB;
}
div#siteMap ul{
	line-height:45px;}
div#siteMap ul li a{
	font-size:12px;
	color:#333;}
div#copyright {
    text-align: center;
	margin:5px;
	font-size:12px;
	color:#999;
}

/* header */
div#company {
    float: left;
    height: 50px;
}
div#company .title {
    font-family: "隶书",monospace;
    font-size: 24px;
}
div#company .copyright{
    font-family: "隶书",monospace;
    font-size: 18px;
}
div#logo {
    position: absolute;
    left: 20%;
    top: 0;
}
div#userControl {
    float: right;
}
div#userControl ul.button li {
    content: "][";
    display: inline-block;
}
div#userControl ul.button li:before {
    content: "[";
}
div#userControl ul.button li:after {
    content: "]";
}
/* header具体样式 */
header div#company .title{
	width: 148px;
	height: 32px;
	margin: 9px;
	background:url(images/logo.png) no-repeat;
}
header div#company .title span{display:none;}
div#logo {
    font-size: 24px;
    line-height: 50px;
    color: #d1ecf8;
}
header div#userControl{
	margin: 5px;
	font-size:13px;
	line-height:18px;
}
header div#userControl .button{color:#999;}
header div#userControl .button a{color:#FFF;}
	
/* 菜单栏 */
nav {
	/* min-height:542px; */
    background-color: #394b61;
}
nav h2{
    display: none;
}
nav .menuItem, nav .menuItem .title div.icon {
    transition: all 0.2s ease 0.05s;
}
nav .menuItem:nth-child(even) {background-color: #6a83a1;}
nav .menuItem:nth-child(odd) {background-color: #5f7795;}
nav .menuItem .title:hover {background-color: #32c8ed;}
nav .menuItem:nth-child(even) .title div.icon {background-color: #85a6bc;}
nav .menuItem:nth-child(odd) .title div.icon {background-color: #7799b4;}
nav .menuItem .title:hover div.icon {background-color: #28b2e6;}

nav .subItem:nth-child(even) {background-color: #384a62;}
nav .subItem:nth-child(odd) {background-color: #465b7a;}
nav .subItem .title:hover {background-color: #32c8ed;}
nav .subItem:nth-child(even) .title div.icon {background-color: #455e7e;}
nav .subItem:nth-child(odd) .title div.icon {background-color: #58759d;}
nav .subItem .title:hover div.icon {background-color: #28b2e6;}


nav .menuItem .title{
    display: flex;
    width: 100%;
    height: 48px;
}
nav .menuItem .title div.icon {
    flex: 0 48px;
}
nav .menuItem .title div.text {
    flex: 1 100px;
    padding: 0 20px;
}
nav .subItem .title div.text {
    padding: 0 20px 0 40px;
}
nav .menuItem .title div.handle {
    padding: 0 10px;
}
nav .menuItem .title div.icon span {
    display: block;
    box-sizing: border-box;
    padding: 13px;
    height: 48px;
    line-height: 28px;
    font-size: 21px;
    color:white;
    /* width: 100%; */
    overflow: hidden;
}
nav .menuItem .title div.text {
    color:#fff;
    line-height: 48px;
}
nav .menuItem .title div.handle i{
    display: block;
    font-size: 1.2rem;
    height: 100%;
    line-height: 3rem;
    color: #fff;
}
nav .menuItem .title div.handle i:link,nav .menuItem .title div.handle i:active,nav .menuItem .title div.handle i:visited{
    color: #fff;
}
nav .menuItem .title div.handle i.close{
    display: none;
}
nav .menuItem .subItemBox{
    display: none;
}
/*主要内容*/
div#likyh_content div.contentTitle{
	background: #394b61;
}
div#likyh_content div.contentTitle span{
	font-size:14px;
	margin-left:14px;
	line-height:36px;
}
div#likyh_content span a, div#likyh_content span em {color:#fff;}
div#likyh_content div.contentTitle span a+a:before {
    content: "> ";
}

div#likyhContentControl{
    margin-bottom: 6px;
    padding: 3px;
}
/* 按钮样式 */
a.control.button{
    display: inline-block;
    margin: 10px;
    height: 48px;
    box-shadow: 2px 2px 5px #a4c1c1;
    border-radius: 6px 0 0 0;
    overflow: hidden;
}
a.control.button div.icon{
    float: left;
    padding: 10px;
    width: 48px;
    height: 48px;
    box-sizing: border-box;

    color: #ffffff;
    font-size: 28px;
    line-height: 28px;
    background-color: #28b2e6;
}
a.control.button div.title{
    float: left;
    display: block;
    padding: 10px;
    font: 14px "微软雅黑";
    line-height: 28px;
    color: #446277;
}

div#likyh_data {
     padding: 10px;
 }

/*站点导航*/
div#siteMap ul li {
    display: inline-block;
}
div#siteMap ul li:after {
    content: '|';
}
div#siteMap ul li:last-child:after {
    content: '';
}

/*copyright*/
div#copyright {

}
div.content_inner div.likyh-module.table{
	width: 97%;
	margin: 0 auto;
}
div.item-item{
	width: 10%;
	height: 100px;
	float: left;
	margin: 1%;
	border-radius: 4px;
	text-align: center;
	box-shadow: 2px 2px 3px #ddd;
}
div.item-item div.icon i{
	padding: 25px 0 5px 0;
	font-size: 2em;
}

