form{
    font-family:"微软雅黑", "华文细黑", "幼圆";
}
input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="number"],input[type="tel"],textarea{
    margin: 10px 0 5px 0px;
    padding: 4px 5px;
    width: 74%;
    height: 20px;
    font-size: 0.9em;
    color:#333;

	
    background-color: #fcfcfc;
	border-radius:4px;
    border: solid 1px #aacfe4;
    -webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition:  box-shadow 0.30s ease-in-out;
}
.editor {
    min-height: 245px;
    width: 74%;
    padding: 4px 5px;
}
input:focus,textarea:focus{
    outline:none;
    background-color:#fff;
    color: #000000;
    border:#87C6F9 1px solid;
    box-shadow: 0 0 5px rgba(103, 166, 217, 0.5);	}
input[type="submit"],input[type="reset"],input[type="button"]{
    display: block;
	padding:1.5px 15px;
	
	word-spacing:5px;
	font-size:0.85em;
}
textarea{
    margin-left: 96px;
    width:70%;
    display: block;
    height:150px;
}
button{
    padding:4px 15px;

    word-spacing:5px;
    font-size:0.85em;}
input[type="file"],input[type="hidden"]{
    border:thin solid #999;
    background:#fff;
    font-size:0.85em;}

.radio label,.checkbox label{
	text-align: left;
}
input[type="radio"]{
    width: 18px;
    height: 18px;
}
input[type="radio"]:focus{
	border: none;
	outline: none;
}
input[type="checkbox"]{
    width: 18px;
    height: 18px;
}
input.switcher{
	visibility: hidden;
}

/**
 * Checkbox Three
 */
.checkboxSwicher {
	width: 120px;
	height: 40px;
	background: #333;
	margin: 20px 10px;
 
	border-radius: 50px;
	position: relative;
}
/**
 * Create the text for the On position
 */
.checkboxSwicher:before {
	content: 'On';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #32c8ed;
	font-size: 16px;
}
/**
 * Create the label for the off position
 */
.checkboxSwicher:after {
	content: 'Off';
	position: absolute;
	top: 12px;
	left: 84px;
	height: 2px;
	color: #ddd;
	font-size: 16px;
}
/**
 * Create the pill to click
 */
.checkboxSwicher label {
	display: block;
	width: 42px;
	min-width: 42px;
	height: 22px;
	border-radius: 50px;
 
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #ddd;
}
 
/**
 * Create the checkbox event for the label
 */
.checkboxSwicher input[type=checkbox]:checked + label {
	left: 60px;
	background: #32c8ed;
}

input.mini{
	width: 10%;
	margin: 0 5px;
}

select,input#time,input[type="file"]{
    font-size:0.85em;
    margin: 5px 2px;
    padding: 2px 4px;
    border: solid 1px #aacfe4;
    border-radius: 4px;
}
.likyhModule.singlePic img{
	width: 240px;
	height: 180px;
	display: block;
	margin: 7px;
	background: url(images/uploading.png)no-repeat;
}
input[type="submit"]{
	margin: 15px 0;
	padding: 10px 32px;
	background:#28b2e6;
	color: #fff;
	border: solid 1px #28b2e6;
	border-radius: 2px;
	outline: none; 
}
input[type="submit"]:hover{
	cursor: pointer;
	background: #32c8ed;
}
input[type="submit"]:select,input[type="submit"]:focus,input[type="submit"]:active{
	background: #7ee5ff;
}
a.go_back{
	display: block;
	width: 28px;
	margin:15px 0;
	padding: 10px 32px;
	background: #f0f0f0;
	color: #666;
	border: thin solid #ccc;
	border-radius: 2px;
	font-size: 0.85em;
}
fieldset{
    padding:5px;
}
legend{
	padding-bottom: 5px;
	font-size:16px;
	color:#333;
}
label{
    display: inline-block;
    padding:0 5px;
    min-width: 80px;
    text-align: right;
    font:bold 15px/21px '微软雅黑';
    color:#666;
}
label:after {
    /* content: ":"; */
}

.dataTable {
    width: 70%;
    min-width: 560px;
    margin:0 15px;
    background:#FFF;
}
tbody{
	text-align: center;
}
th{
    font-weight:400;}
thead tr th,tfoot tr th{
    font-weight:bold;}
.dataTable tr{
    width: 20px;
    height:25px;
    border:thin solid #CCC;
    color: #333;
}
.dataTable tbody tr{
    font-size:0.85em;
    line-height:2em;
    color:#666;}
.dataTable tbody tr:nth-child(even) {
    background: #FFF;
}
.dataTable tbody tr:nth-child(odd) {
    background: #E7F1F1;
}
.dataPage tr:nth-child(even) {
    background:#CCF;
}
.dataTable th, .dataTable td{
    text-align: center;
    border:thin solid #CCC;
}
.dataTable thead {
    border:thin solid #CCC;
    background-color: #d5d5d5;
    color: #333;
}
a.add{
	display: block;
	width: 4em;
	margin: 15px;
	padding: 5px 20px;
	border: thin solid #49b797;
	border-radius: 2px; 
	color: #49b797;
	font-size: 0.85em;
}
a.delete{
	color: #ff4b4b;
}