@charset "utf-8";
/* CSS Document */
/*后台*/
html, body {
    height: 100%;
    width: 100%;
}
body{
    background: url(images/loginBg.jpg) no-repeat;
	background-size: 100% 100%;
}
div.container{
    margin-top: 180px;
	height: 100%;
	width: 100%;
	background-size:100%;
}
/*
h1{
	text-align:center;
	margin-bottom: 20px;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-size:1.2em;
	font-weight:normal;
	color:#036;
}*/
div.logo{
    margin: 0 auto;
    width: 321px;
    height: 60px;
    background: url(images/studio-logo.png) no-repeat;
}
fieldset{
	width:30%;
	margin:0 auto;
	text-align:center;
	filter:alpha(opacity=60 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4bd3e3,endcolorstr=#097ee2,gradientType=0);
	-ms-filter:alpha(opacity=60 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4bd3e3,endcolorstr=#097ee2,gradientType=0);/*IE8*/      
	 /* 一些不支持背景渐变的浏览器 */
	border:none;
	line-height:2em;
	font-family:"微软雅黑", "华文细黑", "幼圆";
	font-size:14px;
	color: #333;
}
legend{
	padding:2px 5px;
	text-align:left;
	border:thin solid #FFF;
	border-radius:5px;
	background: #FFF;
	font-size:16px;}

input{
	padding:3px 5px 3px 50px;
	margin-bottom:1em;
	width:265px;
    height: 34px;
	border-radius:4px;
    border:1px solid #dcdcdc;
    -webkit-transition: box-shadow 0.30s ease-in-out;
	-moz-transition:  box-shadow 0.30s ease-in-out;
	line-height:34px;
	font-size:0.9em;
	color:#333;}
input[type="text"]{
    background: url(images/administrator.png) no-repeat;
    background-position: 10px 7px;
    background-color:#f9f9f9;
}
input[type="password"]{
    background: url(images/password.png) no-repeat;
    background-position: 13px 7px;
    background-color:#f9f9f9;
 }
input[type="submit"]{
    margin:0 auto;
    padding: 0 5px;
	width:322px;
    height: 40px;
    line-height: 30px;
    font-size: 17px;
	background:#3ebff9;
	color:#FFF;
    border: none;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{
	outline:none;
	background-color:#fff;
    color: #000000;
	border:#87C6F9 1px solid;
	box-shadow: 0 0 8px rgba(103, 166, 217, 1);	}
