.likyh-module.table table {
    width: 100%;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	background:#FFF;
}
th{
	font-weight:400;}
thead tr th,tfoot tr th{
	font-weight:normal;}
.likyh-module.table table tbody th input{margin-right: 30px;}
.likyh-module.table table thead {
	color: #fff;
	background-color: #85a6bc;
}
.likyh-module.table table thead tr {
	height:36px;
}
.likyh-module.table table tbody tr{
	height:25px;
	font-size:0.85em;
	line-height:2em;
	color:#666;
	/* border:thin solid #CCC; */
}
.likyh-module.table table tbody tr:nth-child(even) {
	background: #FFF;
}
.likyh-module.table table tbody tr:nth-child(odd) {
	background: #E7F1F1;
}
div.dataPage tr:nth-child(even) {
	background:#CCF;
}
.likyh-module.table table td{
	text-align: center;
}
.likyh-module.table table th.goods,td.goods {width: 20%;}
.likyh-module.table table th.amount,td.amount {width: 8.2%;}
.likyh-module.table table th.user-name,td.user-name {width: 11.41%;}
.likyh-module.table table th.time,td.time {width: 11.41%;}
.likyh-module.table table th.total-price,td.total-price {width: 11.41%;}
.likyh-module.table table th.remark,td.remark{width: 22%;}
.likyh-module.table table th.operation,td.operation {width: 8.78%;}
.likyh-module.table table td a.edit{
    margin-right: 10px;
    color: #ee3972;
}
.likyh-module.table table td a:hover {color: #a8b9d3;}
div.dataPage ul li {
    display: inline-block;
    line-height: 20px;
	font-size:10px;
	color:#666;
}
div.dataPage ul li a {
    text-align: center;
    color: #003;
    border: thin solid rgba(255,255,255,0);
}
div.dataPage ul li a:hover {
    color: #d3d4d6;
}
div.dataPage {
	margin:10px 0;
    height: 25px;
    line-height: 25px;
}
div.dataPage ul li a i{
    margin: 0 10px;
    padding: 0 7px;
    font-size: 18px;
}

div.dataPage .page a{
	display:block;
	width:18px;
	height:18px;
}
div.dataPage .page a:hover{
    color:white;
    border:thin solid #A2BBD7;
    border-radius: 5px;
    background:#D2E7F0;
}
fieldset label{
	font-family: "微软雅黑";font-size:16px;
	color: #650000;
}
fieldset select{
	height:28px;
	width: 360px;
	display:block;
	margin: 6px 0;
	line-height:28px;
	font-family: "微软雅黑";font-size:14px;color: #333;

	cursor:pointer;
	white-space:nowrap;text-overflow:ellipsis;overflow:hidden;
	position:relative;
	z-index:99;

	-webkit-appearance: none;/*去掉自带的样式*/
	-webkit-padding-start: 8px;
	background-image: url("images/ico.gif"), -webkit-linear-gradient(top, #f7f7f7, #efefef);
	background-repeat: no-repeat;
	background-position: center right;
	-webkit-background-origin: content-box,border-box;
	 padding-right: 12px;
	border: 1px solid #999;
	border-radius: 4px;
	outline: none;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.21);}

fieldset input[type="text"]{
	height:25px;
	width: 260px;
	margin:6px 0;
	padding:0 5px;
	border: 1px solid #878787;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.21);

	font-family: "微软雅黑";font-size:14px;}
fieldset input[type="submit"]{
	padding: 5px 15px;
	outline: none;
	border: none;
	border-radius: 4px;
	background: url(images/select_bg.png) repeat-x;
	color: #fff;
}
