&lt;?php
/**
 * Created by LikyhPHP.
 * User: LikyhphpCodeMaker
 * Date: {{ new Date | date("yyyy-MM-dd")}}
 * Time: {{ new Date | date("HH:mm")}}
 */
// Class {{table|varCamel}}Mode {{tableComment? tableComment: 'TODO 待添加注释'}}
class {{table|varCamel}}Mode extends Data {
    /** @return {{table|varCamel}}Mode */
    public static function init() {
        return parent::init();
    }
<span ms-if="func.funcList">{{document.querySelector(".funcList .code").textContent}}</span>
<span ms-if="func.funcDetail">{{document.querySelector(".funcDetail .code").textContent}}</span>
<span ms-if="func.funcExist">{{document.querySelector(".funcExist .code").textContent}}</span>
<span ms-if="func.funcCreate">{{document.querySelector(".funcCreate .code").textContent}}</span>
<span ms-if="func.funcUpdate">{{document.querySelector(".funcUpdate .code").textContent}}</span>
<span ms-if="func.funcDelete">{{document.querySelector(".funcDelete .code").textContent}}</span>
}
