<script>
    var funcCreateModel=avalon.define({
        $id:"funcCreate",
        list:[],
        param:[],
        create:[]
    });
    funcCreateModel.$watch("listChange",function(v){
        funcCreateModel.list=v;
        funcCreateModel.param=[];
        funcCreateModel.create=[];
        for(var i in v){
            if(v[i].class=='data'){
                funcCreateModel.param.push(i);
            }else if(v[i].class=='time'&&v[i].default!="current_timestamp"){
                funcCreateModel.create.push(i);
            }
        }
    });
</script>
<div class="funcCreate" ms-controller="funcCreate">
<div class="button">
    <div class="param">
        <fieldset>
            <legend>传递参数</legend>
            <label ms-repeat="list">
                <input type="checkbox" ms-attr-value="$index" ms-duplex="param"/>{{el.field}}
            </label>
        </fieldset>
    </div>
</div>
<pre class="code">
    // 在{{table|varCamel}}中添加内容
    public function add(<span ms-repeat="param"><i ms-if="$index">, </i>{{list[el].field|varCamel|varVar}}<i ms-if="!list[el].default">=null</i><i ms-if="list[el].default">='{{list[el].default}}'</i></span>){<span ms-repeat="param">
        $data['{{list[el].field}}']=<b>{{list[el].field|varCamel|varVar|varFormat(list[el])}};</b></span><span ms-repeat="create">
        $data['{{list[el].field}}']=<b>{{list[el].field|varCamel|varVar|varFormat(list[el])}};</b></span>
        return $this->db->insert('{{table}}',$data)>=1;
    }
</pre>
</div>