<script>
    var funcDeleteModel=avalon.define({
        $id:"funcDelete",
        multi:false
    });
</script>
<div class="funcDelete" ms-controller="funcDelete">
<div class="button">
    <div class="param">
        <fieldset>
            <legend>传递参数</legend>
            <label>
                <input type="checkbox" ms-duplex-checked ="multi"/>允许删除多个
            </label>
        </fieldset>
    </div>
</div>
<pre class="code">
    /**
     * 删除{{table|varCamel}}
     * @param array|int $id 要删除的一个<b ms-if="multi">或者多个</b>
     * @return bool 是否删除成功
     */
    public function delete($id){<b ms-if="!multi">
        $id=(int)$id;</b>
        return $this->db->delete('admin',$id)>0;
    }
</pre>
</div>