<script>
    var funcDetailModel=avalon.define({
        $id:"funcDetail",
        list:[],
        data:[],
        multi:false
    });
    funcDetailModel.$watch("listChange",function(v){
        funcDetailModel.list=v;
        funcDetailModel.data=[];
        for(var i in v){
            if(v[i].class=='data'|| v[i].class=='id'|| v[i].class=='idJoin'){
                funcDetailModel.data.push(i);
            }
        }
    });
</script>
<div class="funcDetail" ms-controller="funcDetail">
<div class="button">
    <div class="param">
        <fieldset>
            <legend>查询参数</legend>
            <label>
                <input type="checkbox" ms-duplex-checked ="multi"/>允许查询多个
            </label>
            <label ms-repeat="list">
                <input type="checkbox" ms-attr-value="$index" ms-duplex="data"/>{{el.field}}
            </label>
        </fieldset>
    </div>
</div>
<pre class="code">
    /**
     * 查询{{table|varCamel}}的具体内容
     * @param array|int $id 要查询的一个<b ms-if="multi">或者多个</b>
     * @return array
     */
    public function detail($id){<b ms-if="!multi">
        $id=(int)$id;</b>
        $sql="select <b ms-repeat="data"><i ms-if="$index">,</i>`{{list[el].field}}`</b> from {{table}} where id=?<b ms-if="!multi"> limit 1</b>";
        return $this->db-><b ms-if="!multi">getOne($sql, $id)</b><b ms-if="multi">getAll($sql, $id)</b>;
    }
</pre>
</div>