<script>
    var funcListModel=avalon.define({
        $id:"funcList",
        list:[],
        param:[],
        data:[],
        selectParam:true
    });
    funcListModel.$watch("listChange",function(v){
        funcListModel.list=v;
        funcListModel.param=[];
        funcListModel.data=[];
        for(var i in v){
            if(v[i].class=='data'&& v[i].classSub=='normal'){
                funcListModel.param.push(i);
            }
        }
        for(var i in v){
            if(v[i].class=='data'){
                funcListModel.data.push(i);
            }
        }
    });
</script>
<div class="funcList" ms-controller="funcList">
<div class="button">
    <div class="param">
        <fieldset>
            <legend>传递参数</legend>
            <label>
                <input type="checkbox" ms-duplex-checked ="selectParam"/>rows/offset
            </label>
            <label ms-repeat="list">
                <input type="checkbox" ms-attr-value="$index" ms-duplex="param"/>{{el.field}}
            </label>
        </fieldset>
        <fieldset>
            <legend>查询参数</legend>
            <label ms-repeat="list">
                <input type="checkbox" ms-attr-value="$index" ms-duplex="data"/>{{el.field}}
            </label>
        </fieldset>
    </div>
</div>
<pre class="code">
    // 在{{table|varCamel}}中查询信息
    public function getList(<i ms-if="selectParam">$rows, $offest=0, </i><span ms-repeat="param"><i ms-if="$index">, </i>{{list[el].field|varCamel|varVar}}<i ms-if="list[el].default">='{{list[el].default}}'</i></span>){<span ms-repeat="param">
        $condition['{{list[el].field}}']=<b>{{list[el].field|varCamel|varVar|varFormat(list[el])}};</b></span>
        $data['{{table}}']=array(<b ms-repeat="data"><i ms-if="$index">, </i>'{{list[el].field}}'</b>);
        $sql=$this->db->selectSql($data, $condition<i ms-if="selectParam">, $rows, $offset</i>);
        return $this->db->getList($sql);
    }
</pre>
</div>