<script>
    var funcUpdateModel=avalon.define({
        $id:"funcUpdate",
        list:[],
        param:[]
    });
    funcUpdateModel.$watch("listChange",function(v){
        funcUpdateModel.list=v;
        funcUpdateModel.param=[];
        funcUpdateModel.create=[];
        for(var i in v){
            if(v[i].class=='data'|| v[i].class=='pri'){
                funcUpdateModel.param.push(i);
            }
        }
    });
</script>
<div class="funcUpdate" ms-controller="funcUpdate">
<div class="button">
    <div class="param">
        <fieldset>
            <legend>传递参数</legend>
            <label ms-repeat="list">
                <input type="checkbox" ms-attr-value="$index" ms-duplex="param"/>{{el.field}}
            </label>
        </fieldset>
    </div>
</div>
<pre class="code">
    // 在{{table|varCamel}}中添加内容
    public function update(<span ms-repeat="param"><i ms-if="$index">, </i>{{list[el].field|varCamel|varVar}}<i ms-if="!list[el].default">=null</i><i ms-if="list[el].default">='{{list[el].default}}'</i></span>){<span ms-repeat="param">
        $data['{{list[el].field}}']=<b>{{list[el].field|varCamel|varVar|varFormat(list[el])}};</b></span>
        return $this->db->update('{{table}}',$data)>=1;
    }
</pre>
</div>